<!-- Footer -->      
<footer class="ftco-footer ftco-bg-dark ftco-section">
<div class="container">
<div class="row mb-5">
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Super Granites and Marbles</h2>
<p>Super Granites and Marbles is a well renowned and recognized export house engaged in supplying quality Indian granite across the Nation. With a rich experience of more than 40 years in sourcing, manufacturing and exporting Indian granite products... <br> <a href="about.html" class="btn-custom text-white">Know More <span class="ion-ios-arrow-forward"></span></a></p>

</div>
</div>
<div class="col-md">
    <div class="ftco-footer-widget mb-4 ml-md-4">
        <h2 class="ftco-heading-2">Links</h2>
        <ul class="list-unstyled">
            <li><a href="index.html"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
            <li><a href="about.html"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
            <li><a href="projects.html"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li>
            <li><a href="contact.html"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
            <li><a href="privacy-policy.html"><span class="icon-long-arrow-right mr-2"></span>Privacy Policy</a></li>
            <li><a href="disclaimer.html"><span class="icon-long-arrow-right mr-2"></span>Disclaimer</a></li>
            <li><a href="faq.html"><span class="icon-long-arrow-right mr-2"></span>FAQ’s</a></li>
        </ul>
    </div>
</div>
<div class="col-md">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Products</h2>
        <ul class="list-unstyled">
            <li><a href="products.html"><span class="icon-long-arrow-right mr-2"></span>Granite Products</a></li>
            <li><a href="products.html"><span class="icon-long-arrow-right mr-2"></span>Indian Granite Colors</a></li>
            <li><a href="products.html"><span class="icon-long-arrow-right mr-2"></span>Region-Specific Indian Granite</a></li>
        </ul>
    </div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Contact Details</h2>
<p><a href="tel:8888888888"> <span class="icon-phone"></span> +91 8888 888 888</a></p>
<p><a href="mailto:info@supergranitesandmarbles.com"> <span class="icon-envelope"></span> info@supergranitesandmarbles.com</a></p>
<p><b>Address :</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
<!--
<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
-->

</div>
</div>
</div>
<div class="row">
<div class="col-md-12 text-center">

<p> 
Copyright &copy; 2019 Super Granites and Marbles. All rights reserved 
</p>
</div>
</div>
</div>
</footer>