<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-2">
            <div class="col-md-4 heading-section">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-light">{{ projectsContent.pgTitle }}</small></span>
                <h2 class="mb-4">{{ projectsContent.category }} </h2>
            </div>
            <div class="col-md-8 pl-md-5 heading-section">
                <div class="pl-md-4 border-line">
                    <p>{{ projectsContent.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters1">
            <div class="col-md-6 col-lg-4" *ngFor="let project of projectsDetails">
                <div class="project">
                    <img [src]="project.productImg" class="img-fluid" [alt]="project.productName">
                        <div class="text">
                            <span></span>
                            <h3>{{project.productName}}</h3>
                        </div>
                        <!-- <a href="../../assets/resources/images/projects/private-sector/large/large-01.jpg" alt="Private Sector" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span> 
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-2">
            <div class="col-md-4 heading-section">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-light">{{ projectsContent.pgTitle }}</small></span>
                <h2 class="mb-4">{{ projectsContent.category2 }} </h2>
            </div>
            <div class="col-md-8 pl-md-5 heading-section">
                <div class="pl-md-4 border-line">
                    <p>{{ projectsContent.description2 }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters1">
            <div class="col-md-6 col-lg-4" *ngFor="let project of projectsDetails2">
                <div class="project">
                    <img [src]="project.productImg" class="img-fluid" [alt]="project.productName">
                        <div class="text">
                            <span></span>
                            <h3>{{project.productName}}</h3>
                        </div>
                        <!-- <a href="../../assets/resources/images/projects/private-sector/large/large-01.jpg" alt="Private Sector" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span> 
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</section>