<section class="ftco-section ftco-client">
    <div class="container">
    <div class="row justify-content-start mb-5 pb-2">
    <div class="col-md-4 heading-section">
    <span class="subheading subheading-with-line"><small class="pr-2 bg-white">Clients</small></span>
    <h2 class="mb-4">Our CLients</h2>
    </div>
    <div class="col-md-8 pl-md-5 heading-section">
    <div class="pl-md-4 border-line">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="carousel-client owl-carousel">
    <div class="item">
    <a href="#" class="client text-center p-5">
    CLient Logo 1
    </a>
    </div>
    <div class="item">
    <a href="#" class="client text-center p-5">
    CLient Logo 2
    </a>
    </div>
    <div class="item">
    <a href="#" class="client text-center p-5">
    CLient Logo 3
    </a>
    </div>
    <div class="item">
    <a href="#" class="client text-center p-5">
    CLient Logo 4
    </a>
    </div>
    <div class="item">
    <a href="#" class="client text-center p-5">
    CLient Logo 5
    </a>
    </div>
    <div class="item">
    <a href="#" class="client text-center p-5">
    CLient Logo 6
    </a>
    </div>
    <div class="item">
    <a href="#" class="client text-center p-5">
    CLient Logo 7
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>