<section class="home-slider owl-carousel bg-white">
    <div class="slider-item ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex no-gutters slider-text" >
                <div class="one-third order-md-last img " [ngClass]="{'bg-image': true}">
                    <h3 class="vr">Since 1979</h3>
                </div>
                <div class="one-forth d-flex  align-items-center">
                    <div class="text">
                        <h1 class="mb-4">We Love <br>Modern Designs</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
                        <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">View More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex no-gutters slider-text" >
                <div class="one-third order-md-last img " [ngClass]="{'bg-image2': true}">
                    <h3 class="vr">Since 1979</h3>
                </div>
                <div class="one-forth d-flex  align-items-center">
                    <div class="text">
                        <h1 class="mb-4">We Create Amazing Architecture Designs</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
                        <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">View More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>