<section class="hero-wrap hero-wrap-2" style="background-image: url(/assets/resources/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 text-center">
          <h1 class="mb-2 bread">{{pgTitle}}</h1>
          <p class="breadcrumbs"><span><xng-breadcrumb separator=">"></xng-breadcrumb></span></p>
        </div>
      </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container-wrap">
        <div class="row d-flex justify-content-center no-gutters">
            <div class="col-md-8 p-5">
                <p>Thank you for your interest about career opportunities at Super Mables and Granites.</p>
                <p>Currently we don't have any openings but if possible in future we will definitely give you a first preference. Please send your Resume at <a href="mailto:info@supergranitesandmarbles.com">info@supergranitesandmarbles.com</a>.</p>
            </div>
        </div>
    </div>
</section>