<section class="hero-wrap hero-wrap-2" style="background-image: url(/assets/resources/images/bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 text-center">
        <h1 class="mb-2 bread">{{ pgTitle }}</h1>
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/home">Home ></a></span> <span>{{pgTitle}} ></span></p>
      </div>
    </div>
  </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="btn-group" role="group">
                <a role="button" routerLink="granites" routerLinkActive="active" class="btn btn-outline-primary">Granites</a>
                <a role="button" routerLink="marbles" routerLinkActive="active" class="btn btn-outline-primary">Marbles</a>
                <a role="button" routerLink="engineering-stone" routerLinkActive="active" class="btn btn-outline-primary">Engineering Stone</a>
                <a role="button" routerLink="pebble-and-cobble" routerLinkActive="active" class="btn btn-outline-primary">Pebble and Cobble</a>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5" *ngIf="">
  <div class="container">
      <div class="row justify-content-start">
          <div class="col-xl-6 col-md-4 form-group">
              <label for="colorSpecific">Color Specific</label>
              <select class="form-control default" id="colorSpecific" name="colorSpecific">
                <option value="All" selected="">All</option>  
                <option value="{{color}}" *ngFor="let color of colorName">{{color}}</option>
              </select>
          </div>
          <div class="col-xl-6 col-md-4 form-group">  
              <label for="regionSpecific">Region Specific</label>
              <select class="form-control default" id="regionSpecific" name="regionSpecific">
                <option value="All" selected="">All</option>
                <option value="{{region}}" *ngFor="let region of regionName">{{region}}</option>
              </select>
          </div>
      </div>
  </div>
</section>
<!--<app-product-listing></app-product-listing>-->
<router-outlet></router-outlet>