<section class="ftco-section testimony-section bg-light">
    <div class="container">
    <div class="row justify-content-center pb-3">
    <div class="col-md-7 heading-section ">
    <span class="subheading subheading-with-line"><small class="pr-2 bg-light">Testimony</small></span>
    <h2 class="mb-4">Our satisfied customer says</h2>
    <p>With a mindset that no feedback could be better than the one given by the present customer, we are always happy and confident in providing references for any of our existing global customers.</p>
    </div>
    </div>
    <div class="row ">
    <div class="col-md-12">
    <div class="carousel-testimony owl-carousel">
    <div class="item">
    <div class="testimony-wrap p-4 pb-5">
    <!--<div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
    <span class="quote d-flex align-items-center justify-content-center">
      <i class="icon-quote-left"></i>
    </span>
    </div>-->
    <div class="text">
    <p class="mb-5 pl-4 line">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
    <div class="pl-5">
        <p class="name">Ravi Smith</p>
        <span class="position">CEO Founder of Commercial Building</span>
    </div>
    </div>
    </div>
    </div>
    <div class="item">
    <div class="testimony-wrap p-4 pb-5">
    <!--<div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
    <span class="quote d-flex align-items-center justify-content-center">
      <i class="icon-quote-left"></i>
    </span>
    </div>-->
    <div class="text">
    <p class="mb-5 pl-4 line">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
    <div class="pl-5">
       <p class="name">Ravi Smith</p>
        <span class="position">CEO Founder of Interior Design</span>
      </div>
    </div>
    </div>
    </div>
    <div class="item">
    <div class="testimony-wrap p-4 pb-5">
    <!--<div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
    <span class="quote d-flex align-items-center justify-content-center">
      <i class="icon-quote-left"></i>
    </span>
    </div>-->
    <div class="text">
    <p class="mb-5 pl-4 line">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
    <div class="pl-5">
        <p class="name">Ravi Smith</p>
        <span class="position">Exterior Designer</span>
      </div>
    </div>
    </div>
    </div>
    <div class="item">
    <div class="testimony-wrap p-4 pb-5">
    <!--<div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
    <span class="quote d-flex align-items-center justify-content-center">
      <i class="icon-quote-left"></i>
    </span>
    </div>-->
    <div class="text">
    <p class="mb-5 pl-4 line">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
    <div class="pl-5">
        <p class="name">Ravi Smith</p>
        <span class="position">Landscape Designer</span>
      </div>
    </div>
    </div>
    </div>
    <div class="item">
    <div class="testimony-wrap p-4 pb-5">
    <!--<div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
    <span class="quote d-flex align-items-center justify-content-center">
      <i class="icon-quote-left"></i>
    </span>
    </div>-->
    <div class="text">
    <p class="mb-5 pl-4 line">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non urna at neque aliquam molestie. Etiam aliquet felis nec enim tincidunt vulputate.</p>
    <div class="pl-5">
        <p class="name">Ravi Smith</p>
        <span class="position">System Analyst</span>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>