<section class="pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-xl-4 col-md-4 form-group">
                <label for="colorSpecific">Color Specific</label>
                <select class="form-control default" id="colorSpecific" name="colorSpecific" (change)="onColorSelect($event.target.value)">
                  <option value="All" selected="">All</option>  
                  <option value="{{color}}" *ngFor="let color of colorNames">{{color}}</option>
                </select>
            </div>
            <div class="col-xl-4 col-md-4 form-group">  
                <label for="regionSpecific">Region Specific</label>
                <select class="form-control default" id="regionSpecific" name="regionSpecific" (change)="onRegionSelect($event.target.value)">
                  <option value="All" selected="">All</option>
                  <option value="{{region}}" *ngFor="let region of regionNames">{{region}}</option>
                </select>
            </div>
            <div class="col-xl-4 col-md-4 form-group mobile-view">
                <label for="sizeSpecific">Products Size</label>
                <select class="form-control default" id="sizeSpecific" name="sizeSpecific" (change)="onSizeChanged($event.target.value)">
                  <option value="default" selected="">Select size</option>
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
                </select>
            </div>
            <!-- <div class="col-xl-4 col-md-4 form-group">  
                <label for="searchSpecific">Search</label>
                <input type="search" id="searchSpecific" name="searchSpecific"  class="form-control default" #searchBox (keyup)="onColorSearched(searchBox.value)">
            </div> -->
        </div>
    </div>
  </section>